html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #eee;
}

.table {
    border-collapse: collapse;
    border: 1px solid;
    width: 40%;
    background-color: #ddd;
    border-color: #ccc;
}



.postVoteButton {
    height: 32px;
    width: 32px;
    border: none;
    background: center center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.postReplyButton {
    height: 32px;
    width: 60px;
    border: 1px solid;
    border-color: #bbb;
    text-align: center;
    background: center center;
    float: right;
}

.ReplyTable {
    width: 50%;
    padding: 10px;
    background-color: #ddd;
    border: 1px solid;
    border-collapse: separate;
    border-color: #ccc;
}

