@model Mindit.Models.ForumPost

@{
    ViewData["Title"] = "CreateForumReply";
}

<div>
    <table class="ReplyTable table-borderless table-responsive">

            <tr>
                <td>
                    <h1>@Model.postTitle</h1>
                </td>
            </tr>
            <tr>
                <td>
                        @*@Html.DisplayFor(modelItem => item.classIcon)*@
                    <span style="font-size:10pt">
                        Posted by
                            @Html.DisplayFor(modelItem => Model.authorName)
                        at
                            @Html.DisplayFor(modelItem => Model.postDate)
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-size:14pt">@Html.DisplayFor(modelItem => Model.postBody)</span>
                </td>
            </tr>
    </table>
</div>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePostReply">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="control-label">Reply Text:</span>
                <textarea class="form-control"></textarea>
                <!--<span asp-validation-for="replyBody" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <!--<input type="submit" value="Post" class="btn btn-primary" />-->
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}