@model Mindit.Models.ForumPost

@{
    ViewData["Title"] = "CreateForumReply";
}

<h1>@Model.postTitle</h1>

<h4>@Model.postBody</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePostReply">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="control-label">Reply Text:</span>
                <textarea class="form-control"></textarea>
                <!--<span asp-validation-for="replyBody" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <!--<input type="submit" value="Post" class="btn btn-primary" />-->
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}