@model Mindit.Models.ForumPost

@{
    ViewData["Title"] = "Details";
}

<div>
    <table class="ReplyTable table-borderless table-responsive">

        <tr>
            <td>
                <h1>@Model.postTitle</h1>
            </td>
        </tr>
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.classIcon)*@
                <span style="font-size:10pt">
                    Posted by
                    @Html.DisplayFor(modelItem => Model.authorName)
                    at
                    @Html.DisplayFor(modelItem => Model.postDate)
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span style="font-size:14pt">@Html.DisplayFor(modelItem => Model.postBody)</span>
            </td>
        </tr>
    </table>
</div>


<hr />

<div>
    <a asp-action="Index">Back to List</a>
</div>